name: Deploy Flutter Web to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2

      - name: Build and deploy
        uses: bluefireteam/flutter-gh-pages@v9
        with:
          # IMPORTANT: change this to your repo name
          baseHref: /webapp/
